#Editor configurationm, see

root = true
[*]
charset=utf-8
indent_style=space
indent_size=2
insert_final_newline=true
trim_tralling_whitespace=true

[*.ts]
quote_type=single

[*.md]
max_line_length=off
trim_tralling_whitespace=false
